# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db
img/jonathan-jude-bike-logo copy.jpg
img/jonathan-jude-guitar-wall-site-bigimg copy.jpg
img/jonathan-jude-lips-logo copy.jpg
.jekyll-metadata
Gemfile.lock
*.lock
Gemfile.lock
